.showcase {
  width: 100%;
  height: 61.875rem;
  background: var(--color-primary);
}

.heroOuterWrapper {
  width: 95%;
  height: 85%;
  margin: 0 auto;
  margin-top: 2rem;
  background: var(--color-black);
}

.heroInnerWrapper {
  width: 80%;
  height: 90%;
  margin: 0 auto;
  padding-top: 3.313rem;
  border: 2px solid var(--color-black);
}
